<div class="auth-form">
  <h2 class="auth-form">Регистрация</h2>
  <form class="">
    <ul>
      {{#each inputs}}
        {{> input}}
      {{/each}}
    </ul>
    <button type="button" onClick="console.log('click')">Зарегистрироваться</button>
  </form>
  <a href="#/chats">Войти</a>
</div>