<li class="chat-item">
  <h4 class="chat-item__title">{{title}}</h4>
  <p class="chat-item__message">{{message}}</hp>
  <div class="chat-item__avatar"></div>
  <span class="chat-item__time">{{time}}</span>
  <span class="chat-item__counter">{{counter}}</span>
</li>