<section class="profile-page">
  <div class="profile-page__side-panel">
    <a title="назад к чатам" href="#/chats" class="profile-page__back-link"></a>
  </div>
  <div class="profile-page__main-content">
    <div class="profile-page__avatar"></div>
    {{{profileForm}}}
    {{{actionLinks}}}
  </div>
</section>