.profile-page {
  padding: 60px 20px 0 80px;

  &__main-content {
    max-width: 510px;
    margin: 0 auto;
  }

  &__avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto;
    background: url(../../../static/empty-avatar.svg) center / 30% no-repeat;
    background-color: #efefef;
    margin-bottom: 21px;
  }

  &__profile-name {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    min-height: 16px;
    color: #1e1e1e;
    text-align: center;
  }

  &__action-link {
    padding: 10px 0;
  }

  &__side-panel {
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100vh;
    width: 64px;
    background-color: #fbfbfb;
    border-right: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__back-link {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: url(../../../static/arrow-left.svg) center / 18px no-repeat;
    background-color: #3369f3;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__actions {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
}
