$primary-text-color: #1e1e1e;
$light-text-color: #fff;

$action-color: #3369f3;
$danger-color: #f00;
$medium-accent-color: #eaeaea;
$dark-accent-color: #999;

$primary-background-color: #fff;
$accent-background-color: #efefef;
$panels-background-color: #fbfbfb;
