<div class="chats">
  <section class="chats__side-panel">
    <a class="chats__profile-link" href="#/profile">Профиль</a>
    <input type="text" class="chats__search-field" placeholder="Поиск">
    <ul class="chats__chats-list">
      {{{chatsList}}}
    </ul>
  </section>
  <section class="chats__main-area">
    <div class="chats__chat-header">
      <div class="chats__chat-avatar"></div>
      <h2 class="chats__chat-title">Иван</h2>
      <button type="button" class="chats__action-btn"></button>
    </div>
    <div class="chats__messages">
      В настоящий момент страница не обладает полноценным функционалом, а работает как статичная заглушка. Кликабельна только ссылка на профиль
    </div>
    <div class="chats__input-area">
      <button class="chats__attach-btn"></button>
      <input type="text" class="chats__message-input" placeholder="Сообщение">
      <button class="chats__send-btn" type="button"></button>
    </div>
  </section>
</div>