<div class="chat">
  <section class="chats__side-panel">
    <a class="chats__profile-link" href="#/profile">Профиль</a>
    <input type="text" class="chats__search-field" placeholder="Поиск">
    <ul class="chats__chats-list">
      {{{chatsList}}}
    </ul>
  </section>
</div>