<div class="error-page">
  <h2 class="error-page__title">{{errorCode}}</h2>
  <p class="error-page__subtitle">{{errorText}}</p>
  <a class="error-page__back-link" href="{{link}}">{{linkText}}</a>
</div>