@import '../../styles/variables.scss';

.message {
  max-width: 402px;
  // min-width: 110px;
  background-color: $message-background-color;
  border-radius: $popup-radius;
  border-top-left-radius: unset;
  position: relative;
  align-self: start;
  display: flex;

  &_own {
    align-self: flex-end;
    background-color: $action-light-color;
    border-top-left-radius: $popup-radius;
    border-bottom-right-radius: unset;

    .message__meta {
      color: $action-color;
    }
  }

  &_type_image {
    width: min-content;

    .message__meta {
      background-color: rgba($color: #525252, $alpha: 0.5);
      color: #fff;
      padding: 2px 7px;
      border-radius: 30px;
    }
  }

  &__text {
    padding: 11px;
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
  }

  &__meta {
    position: absolute;
    right: 11px;
    bottom: 11px;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    color: $dark-accent-color;
  }

  &__flag {
    display: inline-block;
    width: 10px;
    height: 5px;
    background: url(../../../static/flag-read.svg) center / contain no-repeat;
  }

  &__image {
    max-width: 402px;
    max-height: 300px;
    object-fit: contain;
    object-position: center;
    box-sizing: border-box;
    border: 1px solid $medium-accent-color;
    border-radius: $popup-radius;
  }
}
